{% extends "layouts/base.html" %}

{% block title %} Sanctions Search {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Donate</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Donate</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Donate group -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Donate</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <p>
                                    We do not need your donates. <br>
                                    But if you want to support the fight of the Free World, please donate them: <br><br>
                                    <a href="https://www.comebackalive.in.ua/">Come Back Alive Foundation</a><br><br>
                                    Glory to Ukraine! <span class="flag-icon flag-icon-ua"></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}