<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lexcovery Sanctions Search</title>
</head>
<body>
<div class="text-center">
        <h3>
            <b>
                <p>Lexcovery Prototype for Swiss Law</p>
                <p>WARNING!</p>
                <p>This is only ptototype!</p>
            </b>
        </h3>
    </div>

    <div class="text-center">
        <h4><b>Search by court decisions text</b></h4>
        <h5>
                        <p>First 100 decisions checked</p>
        <form action="/search/" method="post">
            {% csrf_token %}
            <label for="Search">Type your request: </label>
            <input id="Search" type="text" name="search">
            <input type="submit" value="Search">
            <p><label for="Eps">Accuracy parameter: </label>
            <input id="Eps" type="text" name="eps"></p>
            <p>Accuracy parameter set possible difference between decisions. Acceptable values - from 0.01 to 10.</p>
            <p>Lower parameter finds closer groups of decisions. Good for "tight" requests. If very low system finds small clusters or finds nothing.</p>
            <p>Higher parameter finds wider groups of decisions. Good for "wide" requests. If very high system finds very big cluster with a pair of arguments.</p>

        </form>
            <p></p>
        </h5>
      </div>
</body>
</html>